* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 1.6rem;
}

input,
button {
  font-family: "Rubik", sans-serif;
}

